.gameplay_body {
   background-color: #302429;
}

.gameplay_carousel {
    height: 528px; 
    width: 800px; 
    margin: 18px; 
    float: right;
}

.gameplay_item {
    max-width: 100%; 
    max-height: 100%;
    height: 528px;
}